<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Login Usuarios</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/LOGIN.css') }}">


</head>


<header>

<H1 class="h1"> Login </H1>

</header>

<body>

<form action="acceso-login" method="POST" enctype="multipart/form-data">

<label class="label1" for="">Usuario:</label>
<input type="text"placeholder="Usuario" name="user"  required="true">

<label class="label2" for="">Contraseña:</label>
<input type="text"placeholder="Contraseña" name="password"  required="true">
    
<button class="button">INGRESAR</button>

</form>
</body>

</html>