


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de la valoracion de un vehiculo</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/REGISTRO_VALORACION.css') }}">

</head>
<body>
    <header>
        <a href="{{ url_for('logout') }}"><button class="cerrar" >Cerrar Session</button></a>


<h1>Registro de Valoracion</h1>

    </header>

<form action="">


    <input type="text"placeholder="Diagnostico del Vehiculo" name="" id="">


    <button href="">Registrar</button>
</form>

<footer>
    <h1>Mechanical Tecnology</h1>
</footer>

</body>
</html>