

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/ADMIN.css')}}">
</head>
<body>
    <header>
        <h1>Menu Administrador</h1>
        <a href="{{ url_for('loginMenus.logout') }}"><button class="cerrar" >Cerrar Session</button></a>
    </header>


   


<div class="menu">

   <div class="btn-group" role="group" aria-label="Basic outlined example">
   <a href="{{ url_for('registroValoracion.registroval') }}"> <button  type="button" class="btn btn-outline-primary">Registrar valoracion</button>    </a>
   <a href="{{ url_for('registroValoracion.listarvaloracion') }}"> <button  type="button" class="btn btn-outline-primary">Listado valoracion</button></a>
    <button type="button" class="btn btn-outline-primary">Garantias</button>
  </div>
</div>
<footer>
    <h1>Mecanica-Master </h1>
</footer>


</body>
</html>