<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu  Usuario</title>

    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/USER.css')}}">
</head>
<body>
    <header>
        <h1>Menu Usuario</h1>
        <a href="{{ url_for('logout') }}"><button class="cerrar" >Cerrar Session</button></a>
    </header>
<H1 style="background-color: BLACK;COLOR:azure;"></H1>
    

<footer>
    <h1>Mechanical Tecnology</h1>
</footer>
</body>
</html>