{% import "bootstrap/wtf.html" as wtf  %}

{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de la valoracion de un vehiculo</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/REGISTRO_VALORACION.css') }}">

</head>
<body>
    <header>
       <a href="{{ url_for('loginMenus.logout') }}"><button class="cerrar" >Cerrar Session</button></a> 


<h1>Registro de Valoracion</h1>

    </header>

<form method="POST" action="" novalidate enctype="multipart/form-data">



    {{wtf.quick_form(form)}}


</form>


<footer>
    <h1>Mecanica-Master</h1>
</footer>

</body>
</html>

{% endblock  %}
