


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de la valoracion de un vehiculo</title>

    <link rel="stylesheet" href="../CSS/REGISTRO_VALORACION.css">
</head>
<body>
    <header>
        <img src="../IMG/logo.jpeg" >
<h1>Registro de Valoracion</h1>

    </header>

<form action="">


    <input type="text"placeholder="Diagnostico del Vehiculo" name="" id="">


    <button href="">Registrar</button>
</form>



</body>
</html>